---
layout: articles
titles:
    en:       Natural Language Processing
    zh:       自然语言处理
    zh-Hans:  自然语言处理
    zh-Hant:  自然语言处理
sidebar:
    nav: NLP
---

<div class="layout--archive js-all">
  {%- include tags.html -%}
  <div class="js-result layout--archive__result d-none">
    {%- include article-list.html articles=site.posts type='brief' show_info=true reverse=true group_by='year' -%}
  </div>
</div>

<ul>
    {% for cat in site.categories %}
        {% if cat[0] == "自然语言处理" %}
        {% for post in cat[1] %}
        <li>{{post.date | date:"%d/%m/%Y"}}
        <font size="3"><a href={{post.url}} title={{ cat[0] }}>{{post.title}}</a></font>
        </li>
        {% endfor %}
        {% endif %}
    {% endfor %}
</ul>
